:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --two-accent-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
}
/*  header content */
.logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
  text-decoration: none;
}
/*  header nav content */
.site-nav .link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/*  header contact content */
.contact-link .contact {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
}
.contact-link .contact:hover,
.contact-link .contact:focus {
  color: var(--accent-color);
  text-decoration: none;
  list-style-type: none;
}
/*  hero section */
button {
  font-family: inherit;
  text-decoration: none;
}
.hero {
  background: #2f303a;
  color: var(--two-accent-color);
  text-decoration: none;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-decoration: none;
}
.hero-button {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--two-accent-color);
  text-decoration: none;
  list-style-type: none;
}
